* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

/*font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;*/


/*HEADER*/

header {
    padding: 1.25rem;
    width: 100%;
}

/* header>div.logo {
    margin-top: 0.625rem;
} */

/*MENU GERAL*/

body>header>div.menu-top {
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*LEFET MENU*/
body>header>div.menu-top>div.menu-lefet {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-right: 20%;
}

body>header>div.menu-top>div.menu-lefet {
    margin-right: 1rem;
}

body>header>div.menu-top>div.menu-lefet>nav>ul {
    list-style: none;
    display: flex;
}

body>header>div.menu-top>div.menu-lefet>nav>ul>li {
    margin: 0rem 0.8rem;
}

body>header>div.menu-top>div.menu-lefet>nav>ul>li>a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #696C85;
    text-decoration: none;
    padding: 0.1rem;
}

body>header>div.menu-top>div.menu-lefet>nav>ul>li>a:hover {
    color: #6650f1;
    border-bottom: 0.1rem solid #5138EE;
}

/*RIGHT MENU*/

body>header>div.menu-top>div.menu-right {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

/*RIGHT MENU - ICON SEARCH*/
body>header>div.menu-top>div.menu-right>div.icon>input.search {
    border: none;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    padding-left: 36px;
    padding-right: 10px;
    cursor: pointer;
    background: url(../img/icon/Icon\ -\ Pesquisa.svg) no-repeat 10px/16px, white;

    transition-property: width, border-radius, box-shadow;
    transition-duration: 300ms;

}

body>header>div.menu-top>div.menu-right>div.icon>input.search:focus {
    width: 150px;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #6b57f1;
    outline: none;
    cursor: auto;
    z-index: -1;
}

/*RIGHT MENU - ICON GROUP - HOUVER WORK*/
body>header>div.menu-top>div.menu-right>div>a:nth-child(2)>img {
    background-color: #72758C;
    mask-image: url(../img/icon/Icon\ -\ Grupo.svg);
    -webkit-mask: url(../img/icon/Icon\ -\ Grupo.svg);

    transition: background-color 200ms;
}

body>header>div.menu-top>div.menu-right>div>a:nth-child(2)>img:hover {
    background-color: #5138EE;
}

/*RIGHT MENU - ICON NOTIFICATION - HOUVER WORK*/
body>header>div.menu-top>div.menu-right>div>a:nth-child(3)>img {
    background-color: #72758C;
    mask-image: url(../img/icon/Icon\ -\ Notificação.svg);
    -webkit-mask: url(../img/icon/Icon\ -\ Notificação.svg);

    transition: background-color 200ms;
}

body>header>div.menu-top>div.menu-right>div>a:nth-child(3)>img:hover {
    background-color: #5138EE;
}

body>header>div.menu-top>div.menu-right>div>a {
    margin: 0rem 0.788rem;
}

body>header>div.menu-top>div.menu-right>div.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 2rem;
}

/*RIGHT MENU - BUTTON CREAT*/

body>header>div>div.menu-right>a {
    background: #5138EE;
    width: 126px;
    border: 0;
    border-radius: 1.5rem;
    padding: 0.688rem 1.313rem;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

body>header>div>div.menu-right>a:hover {
    background: #614bec;
}

body>header>div>div.menu-right>a>span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/*MAIN BANNER*/

.banner {
    background-color: #0A071B;
    color: white;
    width: 100vw;
    height: 20.688rem;
    position: absolute;
    margin-top: 6.375rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.banner>.banner-left {
    width: 24.063rem;
    margin-left: 6rem;
    margin-top: 3rem;
}

.banner>.banner-left>h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #fff;
}

.banner>.banner-left>h1>strong {
    color: #5138EE;
}

body>div>div.banner-left>p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.938rem;
    line-height: 1.5rem;
    margin-top: 0.653rem;
}

body>div>div.banner-left>button {
    background-color: #5138EE;
    color: white;
    position: absolute;
    margin-top: 0.688rem;
    border-radius: 2rem;
    border: none;
    padding: 0.438rem 2.188rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.938rem;
    line-height: 1.5rem;
    cursor: pointer;
}

body>div>div.banner-left>button:hover {
    background-color: #614bec;
}

body>div>div.banner-right>.rocket {
    position: absolute;
    margin-top: -2rem;
    margin-left: 8rem;
}

body>div>div.banner-right>div.back-vector {
    margin-left: 7rem;
}

main {
    position: absolute;
    margin-top: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 1.25rem;
}

body>main>section {
    width: 24rem;
    height: 25.5rem;
    margin-right: 2rem;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 8px;
}

body>main>section>div.title-perfil>h2 {
    margin-top: 1.5rem;
    margin-left: 2.25rem;
}

body>main>section>div.card-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body>main>section>div.card-perfil>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

body>main>section>div.card-perfil>span {
    margin-top: 0.4rem;
    margin-bottom: 1.938rem;
}

body>main>section>div.card-perfil>div.items {
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0.938rem 1.813rem;
    height: 4.25rem;
}

body>main>section>div.card-perfil>div.items>div {
    margin-right: 1.125rem;
    text-align: center;
}

body>main>section>div.card-perfil>div.items>div:hover {
    border-top: 0.1rem solid #5138EE;
}

body>main>section>div.card-perfil>div.items>div>h3 {
    color: #0A071B;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.063rem;
    line-height: 2.188rem;
}

body>main>section>div.card-perfil>div.items>div>h3:hover {
    color: #5138EE;
}

body>main>section>div.card-perfil>div.items>div>span {
    color: #828282;
    margin-bottom: 1rem;
}

body>main>aside {
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1.5rem 1.813rem;
    height: 25.5rem;
}

body>main>aside>h2 {
    margin-bottom: 0.938rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 40px;
}

body>main>aside>div.cards {
    width: 50rem;
    height: 18.813rem;
    display: flex;

}

body>main>aside>div.cards>div.card {
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    margin-right: 1.188rem;
}

body>main>aside>div.cards>div.card:last-child {
    margin-right: 0rem;
}

body>main>aside>div>div>div>button {
    background: #DCDAE6;
    border-radius: 37px;
    border: none;
    color: #5138EE;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    padding: 0.563rem 0.875rem;
    margin-top: 1.063rem;
    margin-bottom: 0.563rem;
    margin-left: 1.25rem;
    cursor: pointer;
}

body>main>aside>div>div>div>h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    color: #0A071B;
    margin-bottom: 0.375rem;
    margin-left: 1.5rem;
}

body>main>aside>div>div>div>span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    color: #696C85;
    margin-bottom: 0.938rem;
    margin-left: 1.5rem;
}